main {
	flex: 1;
}

article {
	font-size: 0.9em;
	margin-bottom: 2em;
	border-bottom: 1px solid $article-border-color;

	.director {
		color: $director-color;
		font-weight: bold;
	}
}

.date-picker > div {
	display: inline-block;
}

ul.pagination {
	font-size: 0.9em;
	padding: 0.5em 0 1em 0;
	margin-bottom: 0.5em;
	border-bottom: 1px solid $pagination-border-color;

	display: inline-block;

	li {
		display: inline-block;
	
		a {
			padding: 0.5em 1em;
			transition: background-color 300ms ease-out;
		}

		&:hover a {
			background-color: $pagination-hover-bg;
		}

		&.active a {
			background: $pagination-active-bg;
			color: white;
			font-weight: bold;
			cursor: default; 
		}
	}

	.pages {
		display: inline;
	}

	.pages > li {
		margin: 0 0.25em;
	}

}

.console {

	&__lines {
	    overflow: auto;
	    width: 100%;
	    height: 650px;
	    border: 1px solid $borderColor;
	    padding: 0.75em;
	    color: $console-color;
	    background-color: $console-bg;
    };

	&__line {
		font-size: 0.8em;
		line-height: 0.5em;    	
    }

    p {
    	white-space: nowrap;
    }
}
