// Fonts
@import url('http://fonts.googleapis.com/css?family=Lato');

// Dimensions
$maxWidth: 1250px;
$pad: 1em;

// Colors
$primaryTextColor: #666;
$primaryAnchorColor: #333;
$primaryHeaderColor: #204862;