// Fonts
@import url('http://fonts.googleapis.com/css?family=Lato');

// Grid Variables
$screen-sm-min: 48em !default;
$screen-md-min: 62em !default;
$screen-lg-min: 75em !default;
// $screen-xs-max: ($screen-sm-min - 1) !default;
// $screen-sm-max: ($screen-md-min - 1) !default;
// $screen-md-max: ($screen-lg-min - 1) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 0.5em !default;

$container-max-width: 78em;

$container-sm: (46em + $grid-gutter-width) !default;
$container-md: (64em + $grid-gutter-width) !default;
$container-lg: (73em + $grid-gutter-width) !default;

$moviepage-sm-maxHeight: 10em;
$moviepage-lg-maxHeight: 17em;


// Palette
// $rose: #F26A9A;
$white-gray: #f2f2f2;
$light-gray: #F6F7F8;
$cement-gray: #DBE1E5;
$dark-gray: #9DA3A7;

$elegant-blue: #204862;
// $blue-gray: #57626C;

$bright-orange: #C63D0F;

// Dimensions
// $maxWidth: 1250px;
// $pad: 1em;

// // Breakpoints
// $breakpoint-1: 480px;
// $breakpoint-2: 600px;

// Colors
//$bodyBackground: #FDF3E7;
$bodyBackground: $light-gray;

$primaryTextColor: #666;

// $primaryAnchorColor: #333;
$primaryAnchorColor: $elegant-blue;
$primaryHeaderColor: $elegant-blue;

//$headerLegalColor: white;
// $headerBackground: #DAD7CF;
// $headerBackground: #C63D0F;
$headerLogoAnchorColor: white;
$headerLogoBackground: $bright-orange;
//$headerLogoBackground: #609FA2;
// $headerLogoBackground: #F26A9A;

$headerMenuAnchorColor: $elegant-blue;
// $headerMenuBackground: #57626C;
$headerMenuBackground: $cement-gray;

$pagination-hover-bg: $cement-gray;
$pagination-active-bg: $elegant-blue;
$pagination-border-color: $white-gray;


$footerColor: white;
// $footerBackground: #7E8F7D;
$footerBackground: transparent;
// $footerAnchor: #C63D0F;
$footerAnchor: black;

// $legalBackground: #7E8F7D;
$legalBackground: #7C8893;


