$background: #f6f7f8;
$primary-text: #666;

$primary-anchor: #204862;
$primary-header: #204862;

$logo-background: #c73429;
$logo-anchor: white;

$menu-background: #e9edef;
$menu-anchor: #204862;

$footer: #c73429;
$footer-bg: #e9edef;

$form-border: #dbe1e5;
$form-addon-bg: #dbe1e5;
$border: #aeaeae;

$button-default-color: white;
$button-default-bg: #008cba;
$button-padding-vertical: 0.3em;
$button-padding-horizontal: 1em;

$padding-default: 0.5em;
$form-padding-vertical: 0.3em;
$form-padding-horizontal: 0.6em;

$table-odd: #f2f2f2;
$table-even: #dbe1e5;

$label-default-bg: #008cba;

$pagination-hover-bg: #dbe1e5;
$pagination-active-bg: #008cba;
$pagination-border-color: #f2f2f2;

$movie-cover-bg: #e9edef;
$movie-title-color: #008cba;

$article-border-color: #f2f2f2;
$director-color: #f1dd3f;
